
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    display: flex;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #6482AD;
    font-family: orbitron;
    justify-content: center;
    align-items: center;
    padding: 16px;
    flex-direction: column;
}




.container-calculator {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E2DAD6;
    border-radius: 15px;
    border-color: black;
    margin-top: 50px;

}

.calculator-display {
   
    margin: 10px;
    height:10px;
    width: 100px;
    padding: 30px;
    background-color: #F5EDED;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    min-height: fit-content;
    min-width: fit-content;
    font-size: 20px;
    flex: 1 1 auto; /* flex-grow: 1; flex-shrink: 1; flex-basis: auto; */
    

}


.keys {
    display: flex;
    flex-direction: column;
    padding: 10px;
    

}

.row {
    display: flex;
    height: 50px;
    width: 150px;
    flex: 1;
    

}
button {
    height: 30px;
    flex: 1 1 0;
    border-radius: 15px;
    font-family: "Roboto Mono" ;
    border-width: 0.5px;
    background-color: #F5EDED;

}

#btn-0 {
    height: 30px;
    flex: 4 1 0;
    border-radius: 15px;
    font-family: "Roboto Mono" ;
    border-width: 0.5px;
    background-color: #F5EDED;

}

